In [1]:
2+3

5

In [2]:
3-2

1

In [3]:
5*3

15

In [4]:
7/4

1.75

In [5]:
7//4

1

In [6]:
a = 10

In [7]:
type(a)

int

In [8]:
z = 1.23

In [9]:
type(z)

float

In [11]:
p = q = r = 100

In [12]:
p

100

In [13]:
q

100

In [14]:
r

100

In [17]:
s = 'Hello World'

In [18]:
type(s)

str

In [20]:
var = 100
var = 105.50
var = 'Hello'

In [22]:
type(var)

str

In [23]:
var

'Hello'

In [24]:
s[0]

'H'

In [25]:
s[4]

'o'

In [26]:
s[0:5]

'Hello'

In [27]:
s[:5]

'Hello'

In [28]:
s[3:]

'lo World'

In [29]:
s[7]

'o'

In [30]:
s[-4]

'o'

In [31]:
s[:]

'Hello World'

In [32]:
s[0:11:2]

'HloWrd'

In [33]:
s[::-1]

'dlroW olleH'

In [34]:
len(s)

11

In [35]:
s = "I'm rahul"

In [36]:
s

"I'm rahul"

In [37]:
s = 'Hello World'

In [38]:
s

'Hello World'

In [39]:
s[0] = 'p'

TypeError: 'str' object does not support item assignment

In [40]:
s = 'Hey Wolrd'

In [41]:
s

'Hey Wolrd'

In [42]:
s = 'Hello World'

In [43]:
s

'Hello World'

In [44]:
l = []

In [45]:
type(l)

list

In [46]:
l = [1, 'hello', 10.5]

In [47]:
l[1:3]

['hello', 10.5]

In [48]:
l

[1, 'hello', 10.5]

In [49]:
type(l[1:3])

list

In [50]:
type(l[0])

int

In [60]:
l[0:3:-1]

[]

In [61]:
l = [1,2,3,4,5]

In [62]:
l

[1, 2, 3, 4, 5]

In [63]:
l = l + [6]

In [64]:
l

[1, 2, 3, 4, 5, 6]

In [65]:
l = l + [7,8,9]

In [66]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
l[0:4:-1]

[]

In [69]:
l.append('abc')

In [70]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'abc']

In [71]:
l.append([1,2,3])

In [72]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'abc', [1, 2, 3]]

In [73]:
l[10]

[1, 2, 3]

In [74]:
l[10][2]

3

In [75]:
newl = [1,2, [4,5,[6,'Hello']]]

In [76]:
newl

[1, 2, [4, 5, [6, 'Hello']]]

In [77]:
newl[2][2][1]

'Hello'

In [78]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'abc', [1, 2, 3]]

In [79]:
l[0:4]

[1, 2, 3, 4]

In [80]:
l[0:4][::-1]

[4, 3, 2, 1]

In [84]:
newl[::-1][0][::-1][0][::-1]

['Hello', 6]

In [85]:
newl[::-1]

[[4, 5, [6, 'Hello']], 2, 1]

In [86]:
l = [1,2,3,4,5]

In [88]:
for i in l:
    print(i)

1
2
3
4
5

In [89]:
sum = 0
for i in l:
    sum += i
print(sum)

15

In [90]:
if 0:
    print('zero check')

In [91]:
if 1:
    print('boolean check')

boolean check

In [92]:
if -1:
    print('boolean check')

boolean check

In [93]:
if True:
    print('True')

True

In [94]:
if False:
    print('False')

In [95]:
s = input('Enter your location')

Enter your locationAundh

In [96]:
s

'Aundh'

In [105]:
s = input('Enter your location')
if s.lower() == 'hinjewadi':
    print('Office')
elif s.lower() == 'aundh':
    print('Institue')
else:
    print(s)

Enter your locationBaner
Baner

In [106]:
l

[1, 2, 3, 4, 5]

In [107]:
sum =0
for i in l[::2]:
    sum += i
print(sum)

9

In [108]:
sum = 0
for i in l:
    if i % 2 != 0:
        sum += i
print(sum)

9

In [109]:
s = 'This is a string'

In [110]:
for i in s:
    print(i)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [111]:
for i in s.split(' '):
    print(i)

This
is
a
string

In [112]:
l1 = list(s)

In [113]:
l1

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [114]:
len(l1)

16

In [115]:
len(s)

16

In [117]:
list1 = []
for i in range(1,101):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [118]:
for i in list1[1:51:2]:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [120]:
list2 = []
for i in list1[0:51]:
    if i % 2 == 0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [124]:
newl1 = [i for i in range(1,21)]

In [125]:
newl1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [126]:
newl1 = [i*i for i in range(1,51) if i%2 == 0]

In [127]:
newl1

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500]

In [128]:
odd_square_list = [i*i for i in range(1,101) if i % 2 != 0]

In [129]:
print(odd_square_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [130]:
len(odd_square_list)

50

In [131]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [132]:
type(t)

tuple

In [134]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
5

In [135]:
l = [(1,2),(3,4),(5,6)]

In [136]:
for i in l:
    for j in i:
        print(j)

1
2
3
4
5
6

In [137]:
for x,y in l:
    print(x)
    print(y)

1
2
3
4
5
6

In [141]:
scores = [10, 20, 30, 40, 50]
names = ['a', 'b', 'c', 'd', 'e','f']
for n,s in zip(names, scores):
    print(n,s)

a 10
b 20
c 30
d 40
e 50

In [143]:
if 'z' in names:
    print('In the list')
else:
    print('not in list')

not in list

In [144]:
min(scores)

10

In [145]:
max(scores)

50

In [146]:
d = {}

In [147]:
type(d)

dict

In [148]:
d = {'a':10, 'b':20, 'c':30}

In [149]:
d

{'a': 10, 'b': 20, 'c': 30}

In [150]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [151]:
d.values()

dict_values([10, 20, 30])

In [152]:
for x,y in d.items():
    print(x,':', y)

a : 10
b : 20
c : 30

In [153]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])